body {
  background: dimgray;
}

h1 {
  color: darkorange;
  font-weight: 500;
  font-style: oblique;
}

.sub-header {
  color: darksalmon;
  font-weight: 300;
  font-style: italic;
}
.image {
  height: 200px;
  width: 200px;
}
